*{
    margin:0;
    background-color: #212121;
    box-sizing: border-box;
    /* border: white solid 0.5px; */
    color: #7FB685;
}

nav{
    display: flex;
    margin: 10px;
    flex-direction: row;
    justify-content: space-between;
}

.box{
    display: flex;
    gap: 1em;
    color: #7FB685;
    font-family: "DynaPuff", serif;
    font-weight: 900;
    letter-spacing: 0.25em;
    
}
button{
    background-color: #A64253;
    color: #212121;
    font-weight: bold;
    border-radius: 10px;
}

.content{
    margin: 2em;
    display: grid;
    grid-template-columns: 30vw 30vw 30vw;
    gap: 20px;
    grid-template-rows: 15vh;
}

.card{
    text-wrap: wrap;
}

h4{
    color: #A64253;
}

dialog {
    border-radius: 10px;
    padding: 20px;
    background-color: #212121;
    color: bisque;
}

form input, form button {
    margin: 10px;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
}

form button {
    background-color: #7FB685;
    font-weight: bold;
    cursor: pointer;
}